__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl
build/
dist/
.venv
venv/
.env
.vscode/
.idea/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.DS_Store
logs/__pycache__/
logs/*.log
*.log
data/
checkpoints/
.aim/
